<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>≡v≡ Oniwaban 御庭番 Alpha</title>
  <script src="lib/angular/angular.min.js"></script>
  <script src="js/controllers.js"></script>
</head>
<style>
span{
  font-size: 12px;
}
</style>
<body ng-app="myApp" ng-controller="MyCtrl">
<hr>
  <div><b>≡v≡ Oniwaban 御庭番</b> || <b>zKill Data From</b> {{kills[0].killTime}} to {{kills[kills.length-1].killTime}} || <a href="#" ng-click="exportData()">Export</a></div>
<hr>
<!--ALL PILOTS minus Dupes-->
<div style="float:left; width:250px;">
<span><b>Pilots</b></span>
<hr>
<input style="width:75%;" type="text" ng-model="searchPilots" placeholder=" search pilots">
<hr>
    <div ng-repeat="pilot in filteredList.pilots | filter:searchPilots | orderBy:'pilotName'">
<div style="border: 1px solid #ccc; width:55%; float:left;"><span>&nbsp;{{pilot.pilotName}}</span></div>
  <div style="border: 1px solid #ccc; width:34%; float:left;"><span><b>&nbsp;<a ng-href="http://eve-hunt.net/hunt/{{pilot.pilotName}}" target="_blank">H</a> || <a ng-href="https://zkillboard.com/character/{{pilot.pilotId}}" target="_blank">zK</a> || <a ng-href="http://evewho.com/pilot/{{pilot.pilotName}}" target="_blank">W</a> || <a ng-href="http://eve-search.com/search/author/{{pilot.pilotName}}" target="_blank">S</a> </b></span></div>
</div>
</div>
<!--ALL CORPS minus Dupes-->
<div style="float:left; width:325px;">
<span><b>Corps</b></span>
<hr>
<input style="width:75%;" type="text" ng-model="searchCorps" placeholder=" search corps">
<hr>
    <div ng-repeat="corp in filteredList.corps | filter:searchCorps | orderBy:'corpName'">
  <div style="border: 1px solid #ccc; width:70%; float:left;"><span>&nbsp;{{corp.corpName}}</span></div> <div style="border: 1px solid #ccc; width:21%; float:left;"><span><b>&nbsp;<a ng-href="http://eve-hunt.net/hunt/{{corp.corpName | noPeriod}}" target="_blank">H</a> || <a ng-href="https://zkillboard.com/corporation/{{corp.corpId}}" target="_blank">zK</a> || <a ng-href="http://evewho.com/corp/{{corp.corpName}}" target="_blank">W</a></b></span></div>
</div>
</div>
<!--ALL Alliances minus Dupes-->
<div style="float:left; width:250px;">
<span><b>Alliances</b></span>
<hr>
<input style="width:75%;" type="text" ng-model="searchAlly" placeholder=" search alliances">
<hr>
    <div ng-repeat="ally in filteredList.allies | filter:searchAlly | orderBy:'allyName'">
  <div style="border: 1px solid #ccc; width:70%; float:left;"><span>&nbsp;{{ally.allyName}}</span></div>
</div>
</div>

<div style="float:left; width:150px;">
<span><b>Ships</b></span>
<hr>
<input style="width:75%;" type="text" ng-model="searchShips" placeholder=" search ships">
<hr>
    <div ng-repeat="ship in filteredList.ships | filter:searchShips | orderBy:'shipType'">
  <span>{{ship.shipType}} || <a ng-href="https://zkillboard.com/ship/{{ship.shipType}}" target="_blank">zK</a></span>
</div>
</div>

</body>

</html>
